.img-auth {
  display: block;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
}

.lbl-sign-in {
  text-align: center;
  font-size: x-small;
  padding-top: 5%;
}

.lbl-footer {
  text-align: center;
  font-size: x-small;
}

.lbl-footer span {
    color: black;
    font-weight: bold;
}